<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplaManus"
        tools:targetApi="31">
        <activity
            android:name=".Users.Customer.Payment.ChoosePaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Delete.DeleteDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Vegetable.SeeVegetable"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Vegetable.VegetableDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Vegetable.VegetableAdd"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Vegetable.VegetableSee"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Meat.MeatDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.AboutUs"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Profile"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Chicken.SeeChicken"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Chicken.ChickenDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Mutton.SeeMutton"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Mutton.MuttonDasboard"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Fish.SeeFish"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Fish.FishDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Cart.TrackOrders"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Orders.TotalOrders"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Orders.SeeOrders"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Meat.Mutton.MuttonSee"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Meat.Chicken.ChickenSee"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Cart.OrderCompleted"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Cart.GetAddress"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Cart.CheckOut"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Cart.MyCart"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.Fish.FishSee"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Mutton.MuttonAdd"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Chicken.ChickenAdd"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.Fish.FishAdd"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.AddItemDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Customer.CustomerDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Authentication.Register"
            android:exported="false" />
        <activity
            android:name=".Authentication.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Authentication.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Users.Customer.Notification.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3297669548528599~3806996723" />
    </application>

</manifest>